<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CryptoNeko</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
  </head>
  <h2>CryptoNeko Chat</h2>
  <body>    
    <input id=hidden-name type="hidden" displayname={{name}}>
    <input id=hidden-room type="hidden" roomcode={{room}}>
    <textarea id="chat-log" name="chat-log"></textarea>
        <p></p>
    <input id="chat-input" name="chat-input" onkeypress="input_handler(event)">
    
  <script src="{{ static_url("lib/nacl_factory.js") }}"></script>
  <script src="{{ static_url("lib/scrypt.js") }}"></script>
  <script src="{{ static_url("lib/mdn_b64.js") }}"></script>
	<script src="{{ static_url("chat.js") }}" ></script>
  </body>
</html>